@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    flex-direction: row;

}

.navigation{
    position: relative;
    background-color: #6C0B29;
    width: 70px;
    box-shadow: 10px 0 0 #b40d15;
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover{
    width: 220px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}


.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}
.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}


.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}


.navigation ul li.active{
    background-color: #b40d15;
}

.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #6C0B29;
    border-radius: 50%;
    box-shadow: 15px 15px 0  #b40d15;
}

.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #6C0B29;
    border-radius: 50%;
    box-shadow: 15px -15px 0  #b40d15;
}


